<p id="notice"><%= notice %></p>

<p>
  <b>User name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
<%= image_tag(@user.name + ".gif") %>
<p>

<h2><%= @user.name + "'s Hobbies" %></h2>
<ul>
  <%= @hobbies.each do |hobby| %>
  <li> <%= hobby.name %> </li>
  <% end %>
</ul>
<%= link_to 'Choose', wishes_path %>
